<div class="card my-5 mx-5 mt-5">
    <header class="card-header">
        <p class="card-header-title is-size-2">
        {{blog.title}}
        </p>
        <p class="subtitle is-size-5 has-text-centered">Posted by {{user.username}} on {{blog.date_created}}</p>
        <button class="card-header-icon" aria-label="more options">
        <span class="icon">
            <i class="fas fa-angle-down" aria-hidden="true"></i>
        </span>
        </button>
    </header>
    <div class="card-content">
        <div class="content">
        {{blog.content}}
        </div>
    </div>
</div>