<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech Mindshare</title>
    <!--Bulma CSS framework link-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"> </link>
    <link rel="stylesheet" href="/css/style.css">
</head>


<body class="has-background-grey">
    <nav class="navbar has-background-info-dark">
        <div class="navbar-brand">
            <h1 class="is-size-2 has-text-white has-text-weight-bold mx-5 my-2">Sign Up</h1>
            <a class="navbar-burger" id="burger">
                <span></span>
                <span></span>
                <span></span>
            </a>
        </div>

        <div class="navbar-menu" id="nav-links">
            <div class="navbar-end">
                <a class="navbar-item has-text-black has-text-weight-bold" href="#about-me">
                    Home
                </a>
                <a class="navbar-item has-text-black has-text-weight-bold" href="#work">
                    Dashboard
                </a>
                <a class="navbar-item has-text-black has-text-weight-bold" href="#contact-me">
                    Login
                </a>
                <a class="navbar-item has-text-black has-text-weight-bold" href="./assets/JayMoses_Resume.docx">
                    Logout
                </a>
            </div>
        </div>
    </nav>
        
      <div class="card my-5 mx-5 mt-5">
        <header class="card-header">
          <p class="card-header-title">
            Login
          </p>
        </header>
        <div class="card-content">
          <div class="content">
            <div class="field py-2">
                <label class="label">Username</label>
                <div class="control">
                  <input class="input" type="text" placeholder="Text input">
                </div>
            </div>
            <div class="field">
                <label class="label">Password</label>
                <div class="control">
                  <input class="input" type="password" placeholder="Text input">
                </div>
            </div>
            <div class="field is-grouped">
                <div class="control">
                  <button class="button is-link">Login!</button>
                </div>
            </div>
            <div>
              <a class="column is-4" href="/login">Login instead</a>
            </div>
          </div>
        </div>
      </div>


    <section class="section has-background-grey py-1"></section>

    <script src="./Tech-Mindshare/public/js/script.js"></script>

</body>
</html>
